.menu {
  display: grid;
  gap: var(--spacing-3);
}

.menu h2 {
  color: var(--brown-4);
  font-family: var(--font-pacifico);
  font-size: var(--font-size-7);
  line-height: 1.3;
  animation-delay: 0.9s;
}

.menu ul {
  border-left: var(--size-1) solid var(--brown-4);
  list-style: none;
  display: grid;
  gap: var(--spacing-3);
}

.menu li:first-child {
  animation-delay: 1s;
}

.menu li:nth-child(2) {
  animation-delay: 1.15s;
}

.menu li:nth-child(3) {
  animation-delay: 1.2s;
}

.menu a {
  color: var(--black);
  line-height: 1.3;
  text-decoration: none;
  display: grid;
  gap: var(--spacing-1);
  background-color: var(--brown-2);
  padding: var(--spacing-5);
  transition: background-color 0.2s ease-in-out;
}

.menu h3 {
  color: var(--brown-4);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-2);
  transition: color 0.2s ease-in-out;
}

.menu p {
  line-height: 1.5;
  font-size: var(--font-size-1);
  color: var(--black-1);
  transition: color 0.2s ease-in-out;
}

.menu a:hover {
  background-color: var(--brown-3);
}

.menu a:hover h3,
.menu a:hover p {
  color: var(--brown-1);
}
