.intro-text {
  text-decoration: none;
  display: grid;
  max-width: 500px;
}

.sub-title {
  font-family: var(--font-pacifico);
  font-size: var(--font-size-6);
  line-height: 1;
  z-index: 2;
  color: var(--red);
  animation-delay: 0.4s !important;
}

.title {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-10);
  line-height: 1;
  color: var(--brown-4);
  margin-bottom: var(--spacing-3);
  animation-delay: 0.7s !important;
}

.intro-text p {
  font-size: var(--font-size-1);
  line-height: 1.6;
  color: var(--black-1);
  animation-delay: 0.9s !important;
}
