.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: max-content max-content;
  padding: 0 var(--spacing-5);
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.favicon_logo {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 100px;
  gap: var(--spacing-2);
}

.favicon {
  width: 40px;
}

.logo {
  width: 100px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: var(--spacing-3);
  align-items: center;
}

.order-btn {
  color: var(--black-1);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-semibold);
  color: white;
  background-color: red;
  padding: var(--spacing-3) var(--spacing-5);
  border-radius: 50rem;
  text-decoration: none;
  font-weight: bold;

  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-2);
  align-items: center;

  text-decoration-line: underline;
  text-decoration-color: rgb(185, 60, 60);
  text-decoration-thickness: 6px;
  text-decoration-skip-ink: none;

  text-underline-offset: -2px;
}

.cart-link {
  gap: var(--spacing-2);
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  color: white;
  font-size: var(--font-size-2);
  text-decoration: none;
  background-color: green;
  padding: var(--spacing-3) var(--spacing-5);
  border-radius: 50rem;
  font-weight: bold;

  text-decoration-line: underline;
  text-decoration-color: rgb(31, 110, 31);
  text-decoration-thickness: 6px;
  text-decoration-skip-ink: none;

  text-underline-offset: -2px;
}

.cart-link div {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 94, 1);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
