.footer {
  display: grid;
  gap: var(--spacing-5);
  background-color: var(--brown-2);
  padding: var(--spacing-6) var(--spacing-4);
}

.links {
  display: grid;
  gap: var(--spacing-10);
  grid-template-columns: max-content max-content max-content;
  color: var(--brown-4);
}

.links div {
  display: grid;
  gap: var(--spacing-3);
}

.links h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2);
}

.links a {
  text-decoration: none;
  color: var(--brown-4);
  font-size: var(--font-size-2);
}

.links ul {
  display: grid;
  list-style: none;
  gap: var(--spacing-1);
  font-weight: var(--font-weight-regular);
}

.copyright-text p {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-1);
  color: var(--brown-4);
}

@media (max-width: 600px) {
  .links {
    grid-template-columns: auto;
    gap: var(--spacing-8);
  }
}
