.container {
  display: grid;
  place-items: end;
}

.button {
  padding: var(--spacing-2) var(--spacing-6);
  background-color: var(--brown-2);
  font-family: var(--font-sora);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-1);
  color: var(--brown-4);
  border: none;
  outline: none;
  transition: transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.button:active:hover {
  transform: scale(0.95);
  background-color: var(--brown-2);
}
