.page {
  display: grid;
  height: 100vh;
  grid-template-columns: 48% 1fr;
}

.left-section {
  background-color: var(--brown-1);
  padding: var(--spacing-6);
  display: grid;
  align-content: start;
  gap: var(--spacing-6);
  overflow: auto;
  grid-column: 1 / 2;
}

.left-section::-webkit-scrollbar {
  width: 0px;
}

.left-section hr {
  border: none;
  border-top: 0.5px solid var(--brown-4);
}

.right-section {
  overflow: auto;
}

@media (max-width: 750px) {
  .page {
    grid-template-columns: 1fr;
    height: max-content;
  }

  .left-section {
    min-height: 90vh;
  }
}
