
.order-page hr {
  border: none;
  border-top: var(--size-half) solid var(--brown-2);
  margin: 0 var(--spacing-10);
}

.order-page {
  display: grid;
  align-content: start;
  gap: var(--spacing-10);
  background-color: var(--brown-1);
}

.products {
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 700px 10px 700px;
  scroll-behavior: smooth;
}

.products::-webkit-scrollbar {
  display: none;
}

.dim {
  opacity: 0.6;
}

.divider {
  height: 100%;
  width: 3px;
  background-color: var(--brown-2);
  position: relative;
}

.divider button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--brown-2);
  border: none;
  position: absolute;
  top: 150px;
  left: -25px;
  cursor: pointer;
  color: var(--brown-4);
  display: grid;
  place-content: center;
}

.product {
  max-width: 700px;
  padding: 0 var(--spacing-10);
}

.product-heading {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.price-tag {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-bold);
  background-color: var(--brown-2);
  color: var(--black-1);
  padding: var(--spacing-2) var(--spacing-3);
}

.order-page .sub-title {
  font-family: var(--font-pacifico);
  font-size: var(--font-size-5);
  color: var(--red);
}

.order-page h2 {
  font-size: var(--font-size-7);
  line-height: 1.2;
  max-width: 450px;
  font-weight: var(--font-weight-extrabold);
  color: var(--brown-4);
  margin-bottom: var(--spacing-2);
}

.product > h3 {
  font-size: var(--font-size-4);
  line-height: 1.2;
  font-weight: var(--font-weight-extrabold);
  color: var(--black-1);
  margin: var(--spacing-8) 0 var(--spacing-4);
}

.order-page > div p {
  font-size: var(--font-size-1);
  line-height: 1.6;
  color: var(--black-1);
}

.product-contents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-6);
  margin-bottom: var(--spacing-10);
}

.product-content {
  display: grid;
  width: max-content;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--spacing-3);
}

.product-name {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  color: var(--brown-4);
}

.product-content img {
  width: 80px;
  border-radius: var(--size-1);
}

@media (max-width: 750px) {
  .products {
    grid-template-columns: 1fr;
    gap: var(--spacing-20);
  }

  .product {
    max-width: 100%;
    padding: 0 var(--spacing-6);
  }

  .divider {
    height: 3px;
    width: 100%;
  }

  .divider button {
    display: none;
  }

  .dim {
    opacity: 1;
  }
}
