.hero-section {
  display: grid;
  grid-template-columns: 600px 450px;
  gap: 100px;
  justify-content: center;
  padding: 120px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fbfbfb;
}

.left-section {
  display: grid;
  gap: 16px;
  align-items: start;
  align-content: center;
}

.left-section h1 {
  font-size: 64px;
}

.left-section p {
  font-size: 22px;
  line-height: 1.6;
}

.left-section a {
  text-decoration: none;
}

.left-section button {
  background-color: red;
  color: white;
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 50rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
  margin-top: 8px;
}

.right-section {
  display: grid;
  place-content: center;
}

.products {
  padding: 120px 80px;
  display: grid;
  justify-content: center;
}

.products-heading {
  display: grid;
  gap: var(--spacing-4);
  text-align: center;
  margin-bottom: var(--spacing-12);
}

.products-heading h2 {
  font-size: 48px;

  text-decoration-line: underline;
  text-decoration-color: rgb(200, 200, 200);
  text-decoration-thickness: 15px;
  text-decoration-skip-ink: none;

  text-underline-offset: -10px;
}

.products-heading p {
  font-size: 24px;
}

.products > ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  place-content: start;
  gap: var(--spacing-10);
  padding: var(--spacing-2);
}

.product-card {
  width: 450px;
  border-radius: var(--radius-1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: var(--white);
}

.product-card > div:first-child {
  display: grid;
  place-content: start;
  padding: var(--spacing-3);
}

.product-card > div:last-child {
  display: grid;
  gap: var(--spacing-2);
  padding: var(--spacing-7) var(--spacing-2) var(--spacing-7) var(--spacing-7);
}

.product-card h3 {
  font-size: var(--font-size-5);
  text-align: center;
}

.product-card h4 {
  font-size: var(--font-size-6);
}

.product-content {
  list-style: none;
  display: grid;
  gap: var(--spacing-1);
}

.product-card a {
  text-decoration: none;
}

.product-card p {
  font-size: var(--font-size-2);
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.product-card img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.product-details {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-2);
  align-items: center;
  margin-top: var(--spacing-5);
}

.price-tag {
  font-size: var(--font-size-1);
  display: grid;
}

.amount {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-6);
}

.product-card button {
  margin: auto;
  width: max-content;
  padding: var(--spacing-3) var(--spacing-6);
  border: none;
  background-color: red;
  border-radius: 50rem;
  color: white;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-2);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--spacing-2);
}

.events {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.events-text {
  padding: var(--spacing-15);
  display: grid;
  place-content: start;
  gap: var(--spacing-5);
}

.events h2 {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  max-width: 500px;
  line-height: 1.2;

  text-decoration-line: underline;
  text-decoration-color: rgb(200, 200, 200);
  text-decoration-thickness: 15px;
  text-decoration-skip-ink: none;

  text-underline-offset: -10px;
}

.events p {
  font-size: 24px;
  line-height: 1.5;
}

.events button {
  background-color: red;
  color: white;
  border: none;
  padding: var(--spacing-5) var(--spacing-10);
  border-radius: 50rem;
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  display: grid;
  gap: var(--spacing-2);
  align-items: center;
  width: max-content;
  margin-top: 48px;
}

.events img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

@media (width <= 1200px) {
  .hero-section {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .hero-section > div {
    padding: 40px;
  }
}

@media (width <= 1000px) {
  .hero-section {
    padding: 100px 15px;
  }

  .hero-section > div {
    padding: 40px;
  }

  .products > ul {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: var(--spacing-5);
  }

  .product-card {
    display: grid;
    gap: var(--spacing-5);
    width: 100%;
  }

  .product-card a {
    place-self: end;
  }

  .products {
    padding: 80px 40px;
  }

  .products-heading {
    margin-bottom: var(--spacing-8);
  }

  .events {
    display: grid;
    grid-template-columns: 1fr;
  }

  .events-text {
    padding: var(--spacing-10);
  }

  .events h2 {
    font-size: 48px;
  }

  .events p {
    font-size: 20px;
  }

  .events button {
    padding: var(--spacing-3) var(--spacing-6);
    font-size: 20px;
  }
}
